.name-class {
    background-image:url("https://hd.wallpaperswide.com/thumbs/coding_background-t2.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

